/* Reset */
* {
  margin:0;
  padding:0;
  text-decoration: none;
  list-style: none;
}
input:focus {
  outline: none;
}

/* Cores */
:root {
  --cor-p1:#141414;
  --cor-p2:#0CF25D;
  --cor-p3:#f7f7f7;
  --cor-p4:#212121;
  --cor-p5:#2c2c2c;
}
.changeMode:root {
  --cor-p1:#f7f7f7;
  --cor-p2:#0CF25D;
  --cor-p3:#141414;
  --cor-p4:#bfbfbf;
  --cor-p5:#949494;
}


/* Geral */
body {
  font-family: 'Inter',Arial, Helvetica, sans-serif;
  background-color: var(--cor-p1);
}

/* Header */
.container {
  margin: 5px auto 0 auto;
  max-width:424px;
  border-radius:5px;
  border: 2px solid var(--cor-p2);
  padding:30px;
}
.header h1{
  color:var(--cor-p3);
}
.header input {
  width:300px;
  background-color: var(--cor-p4);
  padding:12px 16px 12px 8px;
  font-size: 1.15rem;
  color:var(--cor-p3);
  border-radius:5px;
  border:none;
  margin:10px 0;
}
.header button {
  display: inline-block;
  font-size: 1.06rem;
  color:var(--cor-p1);
  background-color: var(--cor-p2);
  padding:10px;
  border:2px solid var(--cor-p2);
  border-radius:5px;
  transition:0.3s;
  cursor: pointer;
}
.header button:hover {
  color:var(--cor-p3);
  background-color: var(--cor-p1);
}

/* Lista */
.lista li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--cor-p4);
  border-radius:5px;
  padding:16px 10px;
  color:var(--cor-p3);
  margin:6px 0;
}
.lista li p {
  font-size: 0.95rem;
  max-width: 370px;
  word-break: break-all;
}
.lista li button {
  background: none;
  border:none;
  height: 16px;
  width: 16px;
  padding:13px;
  position: relative;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.3s;
}
.lista li button:hover {
  background-color: var(--cor-p5);
}
.lista li button:hover::after {
  transition: 0.3s;
  background-image: url("../img/shapeV.svg");
}
.lista li button:after {
  content: '';
  background-image: url("../img/shape.svg");
  position: absolute;
  width:16px;
  height:16px;
  margin-right:10px;
  top:20%;
  left:20%;
}

/* Botão de troca de tema */
.btnContainer {
  display: flex;
  justify-content: flex-end;
}

/* btn */
.changeModeBtn {
  display: block;
  width:50px;
  height:24px;
  background-color: var(--cor-p4);
  border-radius:15px;
  border:solid var(--cor-p5) 1px;
  margin:20px 65px 0 0;
  position:relative;
}
.changeModeBtn::after {
  content: '';
  position: absolute;
  width:20px;
  height:20px;
  border-radius:15px;
  background-color: var(--cor-p5);
  margin-top:2px;
  margin-left:2px;
  transition:0.3s;
}
.changeModeBtn.liga::after {
  margin-left:28px;
}

/* Js */
.js .lista li{
  animation: addSlideDown .5s forwards;
}
.js .lista li.anima{
  animation: rmSlideDown .5s forwards;
}

/* Animações e Transições */
@keyframes addSlideDown {
  from {
    opacity:0;
    transform: translate3d(0 , -20px, 0);
  } to {
    opacity:1;
  }
}
@keyframes rmSlideDown {
  from {
    transform: translate3d(0 , 0, 0);
    opacity:1;
  } to {
    transform: translate3d(0 , -20px, 0);
    opacity:0;
  }
}